*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 9%;
    left: 0;
}

header .logoes{
    position: relative;
    max-width: 80px;
}

.sec-1{
    height: 50px;
    position: sticky;
    background-color: black;
}

.logo{
    float: left;
    margin: 20px 10px;
    font-weight: bolder;
    text-decoration: none;
    color: blanchedalmond;
    text-transform: uppercase;
}

.logo a{
    color: #fff;
    text-decoration: none;
}

.navebar ul a{
    float: right;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

li{
    float: right;
    color: #fff;
    list-style: none;
    margin: 20px 10px;
    text-decoration: none;
}

li a:hover{
    color: aqua;
}

.sec-2{
    height: 600px;
    padding: 250px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize; 
    color: #fff;
    background: 
    url(./logos/OIP\ \(10\).jpg)
    no-repeat 
    center 
    center/
    cover;
}

.btn{
    width: 80px;
    height: 30px;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
    border-radius: 20px;
    text-decoration: none;
    background-color: 
    aqua;
    text-transform: capitalize;
}

.sec-3{
    display: inline-block;
}
.img{
    width: 50%;
    float: left;
    height: 541px;
    background: 
    url(./logos/OIP\ \(2\).jpg)
    no-repeat 
    center 
    center/
    cover;
}

.text{
    width: 50%;
    float: right;
    color: 
    #fff;
    padding: 150px;
    text-align: center;
    background-color: 
    black;
    text-transform: capitalize;
}

.h1{
    padding: 1%;
    color: 
    #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: 
    black;
}

.sec-4{
    display: inline-block;
}

.bmw{
    width: 33%;
    color: #fff;
    padding: 150px;
    text-align: center;
    display: inline-block;
    background: 
    url(./logos/OIP\ \(2\).jpg)
    no-repeat 
    center 
    center/
    cover;
}

.honda{
    width: 33%;
    color: #fff;
    padding: 150px;
    text-align: center;
    display: inline-block;
    background: 
    url(./logos/OIP\ \(2\).jpg)
    no-repeat 
    center 
    center/
    cover;
}

.ferrari{
    width: 33.4%;
    color: #fff;
    padding: 150px;
    text-align: center;
    display: inline-block;
    background: 
    url(./logos/OIP\ \(2\).jpg)
    no-repeat 
    center 
    center/
    cover;
}

.form{
    text-align: center;
    color: #03e9f4;
    /* background: url(./logos/OIP\ \(2\).jpg) */
    /* no-repeat; */
}

.form img{
    float: right;
}

header{
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 9%;
    left: 0;
}

form .logoe{
    position: relative;
    max-width: 60px;
}

.form input{
    background: transparent;
    /* width: 50px; */
    height: 20px;
}

.form label{
    position: absolute;
    /* top: 1800px; */
    left: 370px;
    /* padding: 10px 0; */
}

.footer{
    background: url(./logos/my.png)no-repeat center center/cover;
}